*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body > nav{
    background-color: darkorange;
    box-sizing: border-box;
    height: auto;
    display: flex;
    justify-content: flex-end;
    color: white;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("Images/background.jpg");
    background-size: 100% 100%;

}
.img-container {
    display: flex;
    align-items: center;
}

#Telefon{
    height: 105px;
    width: 105px;
}
img{
    height: 45px;
    width: 45px;
}
nav{
    background-color: darkorange;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}
#Logga{
    height: 80px;
    width: 80px;
    margin-top: 8px;

}
#loggan{
    margin-top: 8px;
    color: #000;
    font-family: "dosis";
    font-size: 20px;
    line-height: 1.7em;
    letter-spacing: 14px;
    font-weight: 900;
    font-style: oblique;
}

nav{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;

}
nav ul {
    display: flex;
    flex-wrap: wrap;
    height:inherit;
    justify-content: flex-start;
    align-items:center;
    list-style: none;
    margin: 0;
    padding:0;
    color: white;

}
nav > ul > li {
    flex:1;
    padding:1rem;
}
nav > ul > li:hover {
}
nav > ul > li a + ul {
    display: none;
    list-style-type: none;
    font-size: 1rem;
    position: absolute;
    flex:1;
    padding:0;
}
nav > ul > li:hover a + ul {
    display: block;
    width:317px;
    list-style-type: none;
    margin:1em 0 0 0;
    text-align:left;
    padding:.4em 0 .4em 0;
    background: rgba(81, 243, 61, 0.47);
    margin-left:-1em;
        color: white;
}
nav > ul > li:hover a + ul > li {
    padding:1rem;
    border-bottom: dashed white 2px;

}
ul{
    list-style: none;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    justify-content: space-around;
    width: 90%;
    color: white;
}
li{
    color: white;

}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    padding: 15px 0px;
}
/*main > section{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
}*/


footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background: darkorange;
    color: white;
    padding: 15px 30px;
    margin-top: auto;


}
a{
    text-decoration: none;
    color: white}

@media (max-width: 768px) {
    nav > ul{
        width: 57%;
    }
    nav > ul > li{
        width: 1%;
    }
    nav > ul > li:hover a + ul{
        width: 87px;
    }
}

Coolaresor
Kod